.categories-select__control {
    height: 50px;
    border-radius: 10px !important;
    border: 1px solid #e1e1e1;
}

.categories-select__indicator-separator {
    display: none;
}

.categories-select__placeholder {

    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;

    &::placeholder {
        color: 99ee9e, 100%;
    }
}
